
#logo-div{
    height: 50%;
    display: flex;
    align-items: center; //Alinhamento vertical
    justify-content: center; //Horizontal

    h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
}