#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container a {
  text-decoration: none;
}

.menu{
  height: 30px;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.header-md::after{
  height: 0px !important;
}