<ion-header [translucent]="true">
  <ion-col>
    <ion-row class="menu"><ion-button class="top" fill="clear" [routerLink]="['/contas/pagar']" color="if" >Contas a Pagar</ion-button></ion-row>
    <ion-row class="menu"><ion-button class="top" fill="clear" [routerLink]="['/contas/receber']" color="if" >Contas a Receber</ion-button></ion-row>
    <ion-row class="menu"><ion-button class="top" fill="clear" [routerLink]="['/contas/cadastro']" color="if" >Cadastrar conta</ion-button></ion-row>
    <ion-row class="menu"><ion-button class="top" fill="clear" color="if" (click)="logout()">Sair</ion-button></ion-row>
  </ion-col>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../../assets/icon/LogoIfinanças.png">
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    
  </ion-row>
  <ion-row>
    <ion-col><p>Criado por: Esther Leão</p></ion-col>
    <ion-col><p>Prontuário: gu3002489</p></ion-col>
  </ion-row>
</ion-footer>
